services:
  web:
    build: .
    command: tail -f /dev/null
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    ports:
      - "3000:3000"
    environment:
      - RAILS_ENV=development
    stdin_open: true
    tty: true

volumes:
  bundle_cache:
